@font-face {
    font-family: roboto;
    src: url(./assests/fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: Roboto-Italicttf;
    src:url(./assests/fonts/Roboto/Roboto-Italic.ttf);
}
@font-face {
    font-family: light;
    src: url(./assests/fonts/Roboto/Roboto-Light.ttf);
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    /* background-color: rgb(247, 242, 233); */
    background-color: whitesmoke;
    font-family: light;
    /* src:url(./assests/fonts/Roboto/Roboto-Italic.ttf); */
}
.main2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
    /* border: 1px solid red; */
    background-color:rgb(241, 240, 240);
    width: 100%;
    /* height: 200px; */
    border-radius: 4px;
    /* box-shadow:4px 4px 4px lightgray; */

}
.container1{
    border: 1px solid lightgray;
    margin-top: 10px;
    height: 200px;
    width: 250px;
    border-radius: 4px;
    background-color:whitesmoke;
    z-index: 2;
    box-shadow: 2px 2px 2px lightgray;
}
.container1:hover .alert{
    transition: all 1s ease;
    /* width: 100px; */
    /* height: 150px; */
    font-size: 30px;

}
.alert{
    /* border: 1px solid red; */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    /* border-radius: 20px; */
}

.button{
    /* border: 1px solid red; */
    width: 220px;
    margin: 6px auto;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px lightgray;
}
.button a{
    text-decoration: none;
    color:yellowgreen;
}
.none{
    display: none;
}
.button:hover .text{
    display: none;
}
.button:hover .none{
    display: block;
    cursor: pointer;
    /* background-color: linea; */
}